:host {
  .total-bar {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 8px;
    border-radius: 8px;


    .barra-preenchida {
      height: 100%;
     border-radius: 8px;

    }
  }
}
