@use "../../../styles/vars.scss";

:host {
  .container-temporizador {
    margin-bottom: 20px;
    height: 8vh;
    h2.tempo {
      color: #343434;
      font-size: 28px;
      font-family: vars.$font-primaria;
      font-weight: bolder;
      font-style: oblique;
      transition: 0.5s;
      span {
        color: #f2c230;
      }
    }

    button {
      width: 20vw;
      max-width: 260px;
      height: 100%;
      max-height: 38px;

      background-color: rgba($color: #3a468c, $alpha: 0.7);
      border-radius: 8px;

      font-family: vars.$font-primaria;
      font-size: 24px;
      color: #e9f9f5;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: #3a468c;
      }
    }
  }
}
