$font-primaria: "Roboto", sans-serif;
$font-secundaria: "Pixelify Sans", sans-serif;
$font-terciaria: "Bungee", sans-serif;


/*****************TYPES Pokemon**********************/
$normal: rgb(168, 168, 120);
$fada: rgb(255, 182, 193);
$planta: rgb(55, 217, 75);
$dragao: rgb(65, 105, 225);
$fogo:  rgb(255, 140, 0);
$sombra: rgb(47, 79, 79);
$venenoso: rgb(123, 63, 228);
$agua: rgb(30, 144, 255);
$gelo: rgb(0, 229, 193);
$terra: rgb(210, 180, 140);
$pedra: rgb(184, 160, 56);
$fantasma: rgb(75, 0, 130);
$inseto: rgb(154, 205, 50);
$psiquico: rgb(224, 64, 251);
$voador: rgb(135, 206, 235);
$metal: rgb(176, 196, 222);
$eletrico: rgb(244, 183, 11);
$lutador: rgb(244, 11, 90);
