@use "../../../styles/vars.scss";
:host {
  .modal-pokemon {
    padding: 0 28px 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .pokemon {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      img {
        width: 15vw;
        max-width: 290px;
      }
      color: #343434;

      h2 {
        font-family: vars.$font-terciaria;
        font-size: 2.3em;
        font-weight: bold;
      }

      span {
        font-size: 2em;
        font-weight: 700;

        margin-bottom: 16px;
      }
    }
    .description-status {
      width: 50%;
      .dados-pokemon {
        span {
          font-size: 14px;
          font-weight: 600;
          font-family: vars.$font-primaria;
        }

        p {
          margin: 8px 0 12px 0;
          font-size: 18px;
          font-family: vars.$font-primaria;
          color: #343434;
          font-weight: 700;
          text-align: start;
        }
        ul {
          display: flex;
          justify-content: space-between;

          li {
            font-size: 18px;
            margin: 8px 0 12px 0;
            font-size: 18px;
            font-family: vars.$font-primaria;
            color: #343434;
            font-weight: 700;
          }
        }
      }

      .estatisticas-pokemon {
        width: 100%;

        ul {
          width: 100%;
          height: 20vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          li {
            width: 100%;
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: space-around;

            span {
              font-family: vars.$font-terciaria;
              font-size: 14px;
              white-space: nowrap;
            }

            div.estatistica {
              display: flex;
              flex-direction: column;
              width: 100%;

              span {
                font-size: 12px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;

    button {
      width: 20vw;
      max-width: 150px;
      height: 8vh;
      max-height: 45px;
      border-radius: 20px;

      font-size: 18px;
      font-family: vars.$font-primaria;
      color: #f5f5f5;
      font-weight: 700;

      &:first-child {
        background-color: rgb(54, 156, 20);
      }

      &:last-child {
        background-color: #eb3a21;
      }
    }
  }

  @media screen and (max-width: 378px) {
    .modal-pokemon {
      flex-direction: column;
      padding: 0;
      .pokemon {
        align-items: center;
        img {
          width: 55vw;
          max-width: none;
        }
      }

      .description-status {
        width: 100%;
        margin: 18px;
      }
    }
  }

  .options {
    margin-top: 18px;
  }
}
