<app-container-modal>
  <div class="modal-pokemon">
    <div class="pokemon">
      <img [src]="pokemonImage" [alt]="pokemon.nome" />
      <h2>{{ pokemon.nome }}</h2>
      <span>n.º {{ idPokemon }}</span>
      <app-tipo-pokemon [tipos]="pokemon?.tipos"></app-tipo-pokemon>
    </div>
    <div class="description-status">
      @if(modalPage === 'Descrição'){
      <div class="dados-pokemon">
        <span>Descrição:</span>
        <p>
          {{ pokemon.descricao }}
        </p>

        <ul>
          <li><span>Altura:</span> {{ pokemon.altura }}m</li>
          <li><span>Peso:</span> {{ pokemon.peso }}KG</li>
        </ul>
      </div>
      }
    </div>
  </div>
  <div class="options">
    <button (click)="onFecharModal()">Fechar</button>
  </div>
</app-container-modal>