<app-container-modal>
  <div class="modal-pokemon">
    <div class="pokemon">
      <img [src]="pokemonImage" [alt]="pokemon.nome" />
      <h2>{{ pokemon.nome }}</h2>
      <span>n.º {{ idPokemon }}</span>
      <app-tipo-pokemon [tipos]="pokemon?.tipos"></app-tipo-pokemon>
    </div>
    <div class="description-status">
      @if(modalPage === 'Descrição'){
      <div class="dados-pokemon">
        <span>Descrição:</span>
        <p>
          {{ pokemon.descricao }}
        </p>

        <ul>
          <li><span>Altura:</span> {{ pokemon.altura }}m</li>
          <li><span>Peso:</span> {{ pokemon.peso }}KG</li>
        </ul>
      </div>
      }@else {
      <!-- <div class="estatisticas-pokemon">
        <ul>
          <li>
            <img
              src="../../../assets/favorite_24dp_8C1A10_FILL0_wght400_GRAD0_opsz24.svg"
              alt="Estatistica de Vida"
            />
            <span> HP: </span>
            <div class="estatistica">
              <span>90</span>
              <app-barra-preenchimento
                backgroundColor="red"
                [larguraDaBarra]="60"
              ></app-barra-preenchimento>
            </div>
          </li>
          <li>
            <img
              src="../../../assets/favorite_24dp_8C1A10_FILL0_wght400_GRAD0_opsz24.svg"
              alt="Estatistica de Vida"
            />
            <span> Ataque: </span>
            <div class="estatistica">
              <span>90</span>
              <app-barra-preenchimento
                backgroundColor="red"
                [larguraDaBarra]="80"
              ></app-barra-preenchimento>
            </div>
          </li>
          <li>
            <img
              src="../../../assets/favorite_24dp_8C1A10_FILL0_wght400_GRAD0_opsz24.svg"
              alt="Estatistica de Vida"
            />
            <span> X-taque: </span>
            <div class="estatistica">
              <span>90</span>
              <app-barra-preenchimento
                backgroundColor="red"
                [larguraDaBarra]="80"
              ></app-barra-preenchimento>
            </div>
          </li>
          <li>
            <img
              src="../../../assets/favorite_24dp_8C1A10_FILL0_wght400_GRAD0_opsz24.svg"
              alt="Estatistica de Vida"
            />
            <span> Defesa: </span>
            <div class="estatistica">
              <span>90</span>
              <app-barra-preenchimento
                backgroundColor="red"
                [larguraDaBarra]="80"
              ></app-barra-preenchimento>
            </div>
          </li>
          <li>
            <img
              src="../../../assets/favorite_24dp_8C1A10_FILL0_wght400_GRAD0_opsz24.svg"
              alt="Estatistica de Vida"
            />
            <span> X-Defesa: </span>
            <div class="estatistica">
              <span>90</span>
              <app-barra-preenchimento
                backgroundColor="red"
                [larguraDaBarra]="80"
              ></app-barra-preenchimento>
            </div>
          </li>
          <li>
            <img
              src="../../../assets/favorite_24dp_8C1A10_FILL0_wght400_GRAD0_opsz24.svg"
              alt="Estatistica de Vida"
            />
            <span> Velocidade: </span>
            <div class="estatistica">
              <span>90</span>
              <app-barra-preenchimento
                backgroundColor="red"
                [larguraDaBarra]="80"
              ></app-barra-preenchimento>
            </div>
          </li>
        </ul>
      </div> -->
      }
    </div>
  </div>
  <div class="options">
    <!-- <button (click)="paginationModal()">
      @if(modalPage !== 'Descrição') { Descrição }
      @else{ Estatisticas }
    </button> -->
    <button (click)="onFecharModal()">Fechar</button>
  </div>
</app-container-modal>
