<app-container>
  <main [ngClass]="{ loadingActive: loading() }">
    <ul class="list-pokemons">
      @for(pokemon of listPokemon(); track pokemon.id){

      <li class="pokemon" (click)="openModalpokemon(pokemon.id)">
        <app-card-pokemon [pokemon]="pokemon"></app-card-pokemon>
      </li>
      }
    </ul>

    <div class="sentinel" appInfiniteScroll (scrolled)="onScroll()"></div>
  </main>
</app-container>

@if (openModalPokemon) {
<app-modal-pokemon (fecharModal)="openModalPokemon = $event" [idPokemon]="pokemonSelectedOpenModal"></app-modal-pokemon>
} @if(loading()){
<app-loading></app-loading>
}