@use '../../../styles/vars.scss' as user;
:host {
    main {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .list-pokemons {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            // align-items: center;
            justify-content: center;
            // padding: 0 auto;
        }

        .carregar-mais {
          margin: 80px 0;
          button {

            width: 260px;
            height: 50px;
            font-family: user.$font-primaria;
            font-size: 22px;
            color: white;
            background-color: #595BE3;
            font-weight: 600;
            border-radius: 8px;
          }
        }
    }
}
