
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$pokeverse-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($pokeverse-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($pokeverse-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($pokeverse-theme);
/* You can add global styles to this file, and also import other style files */
@import './styles/reset.scss';
@import 'sweetalert2/dist/sweetalert2.min.css';

  .background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 81, 81, 0.5);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.no-scroll {
  overflow: hidden;
}
.alert-title{
  color: #192124;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
  &::first-letter{
    text-transform: uppercase;
  }
}

.text-pokemon {
              font-family:  "Bungee", sans-serif;
           font-weight: bolder;
              color: #F2C230;
            text-shadow:
              -1px -1px 0 #368ABF,  // Cima-esquerda
              1px -1px 0 #368ABF,  // Cima-direita
              -1px  1px 0 #368ABF,  // Baixo-esquerda
              1px  1px 0 #368ABF;  // Baixo-direita
}
